.content__wrapper {
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  border-radius: 1.2rem;
  margin: 4rem 0;
  padding: 2rem;
}
.dark .content__wrapper {
  box-shadow: none;
  background-color: var(--section-bg-color);
}
.title {
  font-family: "Poppins Medium", sans-serif;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid var(--primary-color);
}
.content__title {
  font-family: "Poppins Bold", sans-serif;
  font-size: 4rem;
}
.content__caption {
  margin: 2rem 0 6rem;
  font-size: 1.8rem;
}

.content__caption:last-child {
  margin-bottom: 2rem;
}



@media screen and (max-width: 1400px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {
  .content__title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-family: "Poppins Medium", sans-serif;
    font-size: 2.5rem;
  }
  .content__title {
    font-size: 3rem;
  }
  .content__caption {
    margin-bottom: 4rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 576px) {}
@media screen and (max-width: 500px) {}
@media screen and (max-width: 400px) {}